[submodule "submodules/Gmd.Chassi.DotNet"]
	path = submodules/Gmd.Chassi.DotNet
	url = https://github.com/greenmooseSE/Gmd.Chassi.DotNet.git
	branch = develop
[submodule "submodules/Gmd.Tools.McpServerPs"]
	path = submodules/Gmd.Tools.McpServerPs
	url = https://github.com/greenmooseSE/Gmd.Tools.McpServerPs.git
	branch = develop
